@model List<TestModel>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Addres
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
        </tr>
}
    </tbody>
</table>